services:
  db:
    image: postgres:15
    container_name: envios_db
    restart: always
    environment:
      POSTGRES_DB: enviosdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    container_name: envios_api
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/enviosdb
    volumes:
      - .:/app

volumes:
  pgdata:
